table{
    width: 100%;
}
table thead tr{
   background: #CCC;
}
table td{
   padding: 10px;
 }
 table tbody tr:nth-child(even) {background-color:  hsla(0,0%,63%,.075)}
 table tbody tr:nth-child(odd) {background: #FFF}
